* {
    /* ignore borders when calc width */
    box-sizing: border-box;
}

body {
    background-color: rgb(125, 202, 228);
    color: white;
    border: solid 3px rgb(71, 172, 71);
}

h1 {
    font-style: italic;
}