
* {
    /* ignore borders when calc width */
    box-sizing: border-box;
}


body {
    background-color: rgb(125, 202, 228);
    color: white;
    border: solid 4px rgb(71, 172, 71);
    margin: 25px;
    padding: 50px;
    font-size: 24px;
   
    
}

h1 {
    font-style: italic;
    /* border to see what I'm working on */
    /* border: solid 3px red; */
    text-align: center;
}

h2 {
    margin: 30px;
    font-family: 'Open Sans', sans-serif;
}

nav {
    text-align: center;
}

.top {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    list-style: none;
    display: inline-block;
    padding-left: 5px; 
    padding-right: 10px;
    
}

.one {
    border-right: solid 4px rgb(179, 63, 179);
    font-family: 'Open Sans', sans-serif;
    
}


.logo {
    height: 350px;
    width: 250px;
    float: right;
    clear: both;
}

p {
    margin: 25px;
}

img {
    /* border: 3px solid black; */
    height: auto;
    float: right;
    margin-left: 20px;
    
}

.socials{
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    display: inline-block;
}

.two {
    font-family: 'Open Sans', sans-serif;
    border-left: solid 4px rgb(179, 63, 179);
    border-right: solid 4px rgb(179, 63, 179);
    padding-left: 5px;
    padding-right: 5px;
}